
.goog-logo-link {
    display:none !important;
}

.goog-te-combo{
    color: white;
    background-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.goog-te-gadget {
    color: transparent !important;
}

.goog-te-banner-frame.skiptranslate{
    display: none !important;
}