<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "index.html" %}
    {% block head %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
          crossorigin="anonymous">
    {% endblock %}
</head>
{% block body %}
<body class="allinea_md" onload="assign_page()">
    <div class="container-fluid rounded my-3" id="login_div">
        <div class="row justify-content-center" id="login_cont">
            <div class="col-md-7 col-lg-6 col-sm-10 col-xs-10 col-xl-5">
                <div class=" text-center my-3">
                    <span class="h1">
                        LearnFlow login
                    </span>
                </div>

                <div class="text-center p-4" id="login_form">

                    {% if message %}
                        <span id="message4usr" class="my-2" style="color:red;"> {{ message }} </span>
                    {% endif %}

                    <form action="{{url_for('login')}}" enctype="multipart/form-data" method="post">

                        <div class="mb-3">
                            <label for="mail" class="form-label">Insert email</label>
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                <input type="email" class="form-control" id="mail" name="mail" placeholder="email" required="required">
                            </div>
                            <span id = "message0" style="color:red"> </span>
                        </div>

                        <div class="mb-3 ">
                            <label for="password" class="form-label" >Insert password</label>
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                                <input type="password" class="form-control input-pas" id="password" name="password" placeholder="password" required="required">
                            </div>
                            <span id = "message1" style="color:red"> </span>
                        </div>
                        <div class="mt-4 ml-5 mr-5" >
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </div>
                        <div class="my-2">
                            <hr>
                            <div class="d-flex justify-content-center links row">
                                <div class="col-6 text-right my-auto">
                                    <span>
                                        Non hai un account?
                                    </span>
                                </div>
                                <div class="col-6">
                                     <a href= {{url_for('registration')}}>
                                        <button type="button" class="btn btn-success btn-block" >Registrati ora</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <div class="row justify-content-center">
            <div id="google_translate_element">
                <!--BUTTON FOR TRANSLATION-->
            </div>
        </div>

    </div>


</body>
{% endblock %}
</html>