<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "index.html" %}
    {% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
          crossorigin="anonymous">
    {% endblock %}
</head>
{% block body %}
<body class="allinea_md2">
    <div class="container-fluid rounded my-3" id="regs_div">
        <div class="row justify-content-center" id="regs_cont">
            <div class="col-md-7 col-lg-6 col-sm-10 col-xs-10 col-xl-5">
                <div class=" text-center my-3">
                        <span class="h1">
                            Registrati a LearnFlow
                        </span>
                </div>
                <div class="text-center p-4 row justify-content-center" id="regs_form">
                        {% if message %}
                            <span id="message4usr" class="my-2" style="color:red;"> {{ message }} </span>
                        {% endif %}
                    <div class="col-12">
                        <form action="{{url_for('registration')}}" enctype="multipart/form-data" method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label">Insert username</label>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    <input type="text" class="form-control" id="username" name="username" placeholder="username" required="required" maxlength="13">
                                </div>
    <!--                            <span id = "message0" style="color:red"> </span>-->
                            </div>
                            <div class="mb-3">
                                <label for="mail" class="form-label">Insert email</label>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-at"></i></span>
                                    <input type="email" class="form-control" id="mail" name="mail" placeholder="email" required="required">
                                </div>
    <!--                            <span id = "message1" style="color:red"> </span>-->
                            </div>
                            <div class="mb-3 ">
                                <label for="password" class="form-label" >Insert password</label>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    <input type="password" class="form-control input-pas" id="password" name="password" placeholder="password" required="required">
                                </div>
    <!--                            <span id = "message2" style="color:red"> </span>-->
                            </div>
                            <div class="mb-3 ">
                                <label for="pass_conf" class="form-label" >Confirm password</label>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-check"></i></span>
                                    <input type="password" class="form-control input-pas" name="pass_conf" id="pass_conf" placeholder="password" required="required">
                                </div>
    <!--                            <span id = "message3" style="color:red"> </span>-->
                            </div>
                            <div class="d-flex justify-content-center links">
                                <button type="submit" class="btn btn-success btn-block" onclick="validate_registration()">
                                    Singup now
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>